{%extends 'app/index.html' %}
{%load static%}
{%block title%}About Us{%endblock title%}

{%block content%}

<div class="my-5 text-center">
    <h1>About Us</h1>
    <hr class="border border-primary border-3 opacity-75">
    <p>
        Welcome to Punjabi Palette, your one-stop destination for bringing color to your home with digital art
        decorations. We specialize in offering a wide selection of Punjabi digital art, catering to individuals who have
        a passion for Punjabi culture and a desire to adorn their spaces with unique and culturally significant pieces.
    </p>

    <p>At Punjabi Palette, we recognized the growing interest in Punjabi digital art for decorations and identified a
        gap in the online market. With our e-commerce website, we aim to provide a convenient and accessible platform
        for customers to explore and purchase a diverse range of Punjabi digital art pieces.</p>

    <p>Our primary goal is to fulfill the demand for high-quality Punjabi digital art while offering a seamless shopping
        experience. Our user-friendly interface allows you to browse through our extensive collection, choose the
        artwork that resonates with your preferences and style, and make a secure purchase with ease. </p>

    <p>By bringing together a curated selection of Punjabi digital art, we aim to transform your living spaces into
        vibrant showcases of culture and heritage. Whether you are decorating your home, office, or any other space,
        Punjabi Palette has the perfect artwork to add a touch of elegance and cultural significance.</p>

    <p>We are committed to providing exceptional customer service, ensuring your satisfaction with every purchase. Our
        team is dedicated to curating the finest collection of Punjabi digital art and delivering it to your doorstep,
        allowing you to embark on a journey of self-expression and creativity.</p>

    <p>Thank you for choosing Punjabi Palette. We invite you to explore our website, discover the beauty of Punjabi
        digital art, and embark on a colorful journey of cultural enrichment.
    </p>
</div>

{%endblock content%}