{%extends 'app/index.html' %}
{%load static%}
{%block title%}Category{%endblock title%}

{%block content%}
<style>
    html, body {
        height: 100%;
        overflow-y: auto;
    }
</style>
<div class="container my-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 overflow-auto">
            <div class="card mb-3">
                <a href="{% url 'productpage' product.id%}">
                <img src="{{product.image.url}}" width="200px" height="400px" class="card-img-top" alt="...">
            </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">${{product.price}}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock content%}