{%extends 'app/index.html' %}
{%load static%}
{%block title%}Contact Us{%endblock title%}

{%block content%}

<div class="my-5 text-center">
    <h1>Contact Us</h1>
    <hr class="border border-primary border-3 opacity-75">
    <p>
        We value your feedback and inquiries. Please don't hesitate to get in touch with us for any questions or
        concerns. Our dedicated team is here to assist you. </p>

    <p class="fw-bold">
        Email: info@punjabipalette.com
    </p>

    <p class="fw-bold">
        Phone: +1 (123) 456-7890
    </p>
</div>

{%endblock content%}